In [1]:
#Import dependencies
import requests
from bs4 import BeautifulSoup
import random
import pandas as pd

In [2]:
title = "Python Developer"  # Job title
location = "Toronto"  # Job location
start = 0  # Starting point for pagination

In [12]:
# Construct the URL for LinkedIn job search
list_url = f"https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords={title}&location={location}&start={start}"

# Send a GET request to the URL and store the response
response = requests.get(list_url)

#Get the HTML, parse the response and find all list items(jobs postings)
list_data = response.text
list_soup = BeautifulSoup(list_data, "html.parser")
page_jobs = list_soup.find_all("li")
list_url

'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Python Developer&location=Toronto&start=0'

In [4]:
#Create an empty list to store the job postings
id_list = []

In [5]:
#Itetrate through job postings to find job ids
for job in page_jobs:
    base_card_div = job.find("div", {"class": "base-card"})
    job_id = base_card_div.get("data-entity-urn").split(":")[3]
    print(job_id)
    id_list.append(job_id)

4189663170
4184590482
4180502683
4177572949
4167068605
4173687748
4178651543
4187551507
4180665520
4174190905

In [6]:
# Initialize an empty list to store job information
job_list = []

# Loop through the list of job IDs and get each URL
for job_id in id_list:
    # Construct the URL for each job using the job ID
    job_url = f"https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}"
    
    # Send a GET request to the job URL and parse the reponse
    job_response = requests.get(job_url)
    print(job_response.status_code)
    job_soup = BeautifulSoup(job_response.text, "html.parser")
    
     # Create a dictionary to store job details
    job_post = {}
    
    # Try to extract and store the job title
    try:
        job_post["job_title"] = job_soup.find("h2", {"class":"top-card-layout__title font-sans text-lg papabear:text-xl font-bold leading-open text-color-text mb-0 topcard__title"}).text.strip()
    except:
        job_post["job_title"] = None
        
    # Try to extract and store the company name
    try:
        job_post["company_name"] = job_soup.find("a", {"class": "topcard__org-name-link topcard__flavor--black-link"}).text.strip()
    except:
        job_post["company_name"] = None
        
    # Try to extract and store the time posted
    try:
        job_post["time_posted"] = job_soup.find("span", {"class": "posted-time-ago__text topcard__flavor--metadata"}).text.strip()
    except:
        job_post["time_posted"] = None
        
    # Try to extract and store the number of applicants
    try:
        job_post["num_applicants"] = job_soup.find("span", {"class": "num-applicants__caption topcard__flavor--metadata topcard__flavor--bullet"}).text.strip()
    except:
        job_post["num_applicants"] = None
    
        
    # Append the job details to the job_list
    job_list.append(job_post)

200
200
200
200
200
200
200
200
200
200

In [7]:
#Check if the list contains all the desired data
job_list

[{'job_title': 'Python Developer',
  'company_name': 'Hexaware Technologies',
  'time_posted': '2 days ago',
  'num_applicants': None},
 {'job_title': 'Python Developer',
  'company_name': 'Tata Consultancy Services',
  'time_posted': '3 days ago',
  'num_applicants': '150 applicants'},
 {'job_title': 'Python Developer',
  'company_name': 'Tata Consultancy Services',
  'time_posted': '1 week ago',
  'num_applicants': None},
 {'job_title': 'Python Developer',
  'company_name': 'Synechron',
  'time_posted': '1 week ago',
  'num_applicants': '53 applicants'},
 {'job_title': 'Python Developer',
  'company_name': 'Tata Consultancy Services',
  'time_posted': '3 weeks ago',
  'num_applicants': None},
 {'job_title': 'Python Developer',
  'company_name': 'Synechron',
  'time_posted': '2 weeks ago',
  'num_applicants': '68 applicants'},
 {'job_title': 'Python Developer',
  'company_name': 'Billennium',
  'time_posted': '2 weeks ago',
  'num_applicants': None},
 {'job_title': 'Python Developer',
  'company_name': 'Synechron',
  'time_posted': '2 days ago',
  'num_applicants': '74 applicants'},
 {'job_title': 'Python Developer',
  'company_name': 'Apptoza Inc.',
  'time_posted': '1 week ago',
  'num_applicants': '111 applicants'},
 {'job_title': 'Python Developer',
  'company_name': 'Compunnel Inc.',
  'time_posted': '2 weeks ago',
  'num_applicants': '108 applicants'}]

In [8]:
# Create a pandas DataFrame using the list of job dictionaries 'job_list'
jobs_df = pd.DataFrame(job_list)
jobs_df

          job_title               company_name  time_posted  num_applicants
0  Python Developer      Hexaware Technologies   2 days ago            None
1  Python Developer  Tata Consultancy Services   3 days ago  150 applicants
2  Python Developer  Tata Consultancy Services   1 week ago            None
3  Python Developer                  Synechron   1 week ago   53 applicants
4  Python Developer  Tata Consultancy Services  3 weeks ago            None
5  Python Developer                  Synechron  2 weeks ago   68 applicants
6  Python Developer                 Billennium  2 weeks ago            None
7  Python Developer                  Synechron   2 days ago   74 applicants
8  Python Developer               Apptoza Inc.   1 week ago  111 applicants
9  Python Developer             Compunnel Inc.  2 weeks ago  108 applicants

In [9]:
#Save data to CSV file
jobs_df.to_csv('Toronto_Python_Developer.csv', index = False)